#body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

#switch-theme-section {
    display: flex;
    flex-direction: column;
}

#hidden-text {
    color: transparent;
    font-weight: 900;
}
